.nextDiv{
    background-color: #1D1E32;
        margin-top: 5%;
}

.div2{
    color: white;
    margin-left: 15%;
}

.div3{
    color: white;
    margin-left: 23%;
}

.div4{
    color: rgb(239, 14, 74);
    margin-left: 37%;
    margin-top: 4%;
}


.div5{
     color: white;
     margin-left: 19%;
}


.div6{
     color: white;
     margin-left: 18%;
}


.div7{
     color: white;
     margin-left: 40%
}


.div8{
     color: rgb(239, 14, 74);
     margin-left: 38%;
      margin-top: 4%;
}


.div9{
     color: white;
     margin-left: 37%
}


.div10{
     color: rgb(239, 14, 74);
     margin-left: 41%;
      margin-top: 4%;
}

.div11{
     color: white;
     margin-left: 40%;
}

.div12{
    color: green;
    margin-left: 30%;
    margin-top: 4%;
}